<div class="gooey align-items-center" *ngIf="loadingData">
  <span class="dot"></span>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
  </div> 
</div>
<div class="page login-page" style="background: #727272;">
  <div class="container d-flex align-items-center">
    <div class=" form-holder">
      <div class="row d-flex justify-content-center">
        
        <!-- Form Panel    -->
        <div class="col-lg-8">
          <div class="form d-flex align-items-center">
            <div class="content  d-flex justify-content-center">
              <form  [formGroup]="resetForm"  (ngSubmit)="onSubmit()">
                <p class="text-white">Reset Password.</p><br>
                <div class="form-group">
                  <input formControlName="password" type="password" placeholder="Password name="password"  class="input-material-login">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>
                  <div class="form-group">
                  <input formControlName="password_confirmation" placeholder="Confirm Password"  type="password" name="password_confirmation" pattern="{{ f.password.value }}"  class="input-material">
                  
                  <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
                    <div *ngIf="f.password_confirmation.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.password_confirmation.errors.pattern">Password & Confirm Password does not match.</div>
                  </div>
                </div>
                <input type="submit" class="btn btn-secondary" value="Reset Password">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights text-center">
    <p class="small">CopyRights - <a href="#" class="external">Digits AS</a>, Norway <br> Org. number 925 386 022</p>
  </div>
</div>