<!-- Page Footer-->
<footer class="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <div class="p-2"></div>
          <div class="p-2 small text-center"><a href="#" class="external">Digits AS</a>, Norway <br> Org. number 925 386 022</div>
          <div class="p-2 small"><a href="" data-toggle="modal" data-target="#report">Report an Issue <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
        
      </div>
    </div>
  </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="reportLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Report Your Issue</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter Your Issue"></textarea>
          </div>
          <button type="submit" class="btn btn-secondary  mb-2">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>