<div class="gooey align-items-center" *ngIf="loadingData">
    <span class="dot"></span>
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
    </div> 
</div>
<div class="page">
  <!-- Main Navbar-->
  <app-header></app-header>
  <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <app-left-nav></app-left-nav>
      <div class="content-inner">
      <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/clients">Clients</a></li>
                  <li class="breadcrumb-item active">Client List</li>
              </ul>
          </div>
      <!-- Forms Section-->
      <section class="forms pb-5">
          <div class="container-fluid">
              <div class="row">
              <div class="col-md-12">
                      <table class="table">
                      <thead>
                          <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Desciption</th>
                          <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let client of clients; index as i">
                          <th scope="row">{{i + 1}}</th>
                              <td>{{client.name}}</td>
                              <td>{{client.email}}</td>
                              <td>{{client.description}}</td>
                              <td>
                                  <a routerLink="/edit-client/{{client.id}}" class="mr-1 btn btn-sm btn-secondary">Edit</a>
                                  <!-- <a (click)="deleteClient(client.id)" class="mr-1 btn btn-sm btn-danger text-white">Delete</a> -->
                              </td>
                          </tr>
                      </tbody>
                      </table>
              </div>
              </div>
          </div>
      </section>
      <!-- Page Footer-->
      <app-footer></app-footer>
    </div>
  </div>
</div>