<div class="gooey align-items-center" *ngIf="loadingData">
    <span class="dot"></span>
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
    </div> 
  </div>
  <div class="page">

    <div class="page-content d-flex align-items-stretch">
      <!-- Side Navbar -->
      <app-left-nav></app-left-nav>
      <div class="content-inner">
        <!-- Main Navbar-->
        <app-header></app-header>
        <!-- Breadcrumb-->
        <div class="breadcrumb-holder container-fluid">
          <ul class="breadcrumb"  style="    padding-top: 90px;">
            <li class="breadcrumb-item"><a routerLink="/projects">/Project</a></li>
            <li class="breadcrumb-item active">{{editId}}</li>
          </ul>
        </div>
        <section class="forms">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                    <form [formGroup]="projectForm" >
                      <!--(ngSubmit)="onSubmit()"-->
                      <div class="row">
                        <div class="col-sm-5" style="margin:auto;">
                          <!-- <input type="file" name="photo" id="photo" formControlName="photo"> -->
                            <img src="{{editimgUrl}}" class="img-fluid">
                            <label for="imgupload"
                      ><img
                        src="assets/images/default.jpg"
                        class="img-fluid"
                        *ngIf="!editimgUrl"
                    /></label>
                       
                        </div>
                        <div class="col-sm-7">
                          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">Something went wrong. Try Again</div>
                          <br />
                          <div class="form-fbt">
                            <div class="form-group text-center">
                              <a routerLink="/edit-project/{{editId}}" class="btn btn-secondary">Edit</a>
                            </div>
                            <!-- <div class="form-group text-center">
                              <label class="btn btn-secondary"  data-toggle="modal" data-target="#exampleModal">Add Files</label> -->
                              <!-- <input type="file" id="fileupload" name="fileupload" (change)="addfiles($event.target.files)" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" multiple style="display:none" /> -->
                            <!-- </div> -->
                            <div class="form-group text-center">
                              <a routerLink="/add-product" [queryParams]="{param_id: editId}" class="btn btn-secondary">Add Product</a>
                            </div>
                            <div class="form-group text-center">
                              <a routerLink="/products" [queryParams]="{param_id: editId}" class="btn btn-secondary">Show Products</a>
                            </div>
                            <!-- <div class="form-group" *ngFor="let file of filesmulti; index as i">
                              {{file.name}}
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_name" class="label-material">PROJECT NAME* :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="project_name" name="project_name" [ngClass]="{ 'is-invalid': submitted && f.project_name.errors }" class="input-material">
                              <div *ngIf="submitted && f.project_name.errors" class="invalid-feedback">
                                <div *ngIf="f.project_name.errors.required">Project Name is required</div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="customer" class="label-material">CUSTOMER NAME* :</label>
                            </div>
                            <div class="col-md-8">
                             
                             <select class="input-material"  name="customer" formControlName="customer" disabled [ngClass]="{ 'is-invalid': submitted && f.customer.errors }">
                                  <option value="">Select</option>
                                  <option *ngFor="let customer of customers; index as i" value="{{customer.id}}" [selected]="true">{{customer.customer_name}}</option>   
                              </select>
                              <div *ngIf="submitted && f.customer.errors" class="invalid-feedback">
                                  <div *ngIf="f.customer.errors.required">Customer is required</div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_address" class="label-material">PROJECT ADDRESS :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="project_address" name="project_address"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_address" class="label-material">POSTAL CODE :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="postal_code" name="postal_code"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_address" class="label-material">POSTAL AREA :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="postal_area" name="postal_area"  class="input-material">
                            </div>
                          </div>
                          <h3>PROJECT MANAGER DETAILS</h3>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_mang_name " class="label-material margin-left">NAME :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="project_mang_name" name="project_mang_name"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_address" class="label-material margin-left">MOBILE NO. :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="project_mang_mobile" name="project_mang_mobile"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_mang_email" class="label-material margin-left">EMAIL :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="project_mang_email" name="project_mang_email"  class="input-material">
                            </div>
                          </div>
                          <h3>ONSITE CONTACT DETAILS</h3>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="onsite_name"  class="label-material margin-left">NAME :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text"  readonly formControlName="onsite_name" name="onsite_name"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="onsite_mobile" class="label-material margin-left">MOBILE NO. :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="onsite_mobile" name="onsite_mobile"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="onsite_email" class="label-material margin-left">EMAIL ID :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="onsite_email" name="onsite_email"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_type" class="label-material">PROJECT TYPE :</label>
                            </div>
                            <div class="col-md-8">
                              <select class="input-material" disabled name="project_type" formControlName="project_type">
                                <option value="">Select</option>
                                <option value="Demolition">Demolition</option> 
                                <option value="Refurbish">Refurbish</option>
                                <option value="New Build">New Build</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_type" class="label-material">PROJECT STATUS :</label>
                            </div>
                            <div class="col-md-8">
                              <select class="input-material" disabled name="project_status" formControlName="project_status">
                                <option value="">Select</option>
                                <option value="Idea/Planning">Idea/Planning</option>  
                                <option value="Concept Development/Sketch Project">Concept Development/Sketch Project</option>
                                <option value="Detailed Engineering">Detailed Engineering</option>
                                <option value="Production">Production</option>
                                <option value="Delivery/Finished">Delivery/Finished</option>
                            </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_type" class="label-material">AREA/TOTAL (In Square Meters) :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" style=" padding: 16px 10px;" readonly formControlName="property_area" name="property_area"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_type" class="label-material">No. OF FLOORS :</label>
                            </div>
                            <div class="col-md-8" style="    top: -10px;">
                              <input type="text" readonly formControlName="no_of_floors" name="no_of_floors"  class="input-material">
                            </div>
                          </div> 
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_type" class="label-material">BUILDING YEAR :</label>
                            </div>
                            <div class="col-md-8" style="    left: -14px;">
                              <div class="input-group date only_year col-md-5" readonly data-date-format="yyyy" data-link-field="building_year" data-link-format="yyyy">
                                <input class="form-control" style="color: #000000;font-size: 18px;" size="16" type="text" id="building_year" formControlName="building_year" name="building_year" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_type" class="label-material">LAST REFURBISHED :</label>
                            </div>
                            <div class="col-md-8" style="    left: -14px;">
                              <div class="input-group date only_year col-md-5"  data-date-format="yyyy" data-link-field="last_refurbished" data-link-format="yyyy">
                                <input class="form-control" style="color: #000000; font-size: 18px;"  size="16" readonly type="text" id="last_refurbished" formControlName="last_refurbished" name="last_refurbished" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_type" class="label-material">ENVIRONMENTAL REPORT :</label>
                            </div>
                            <div class="col-md-8" style="top: 15px;">
                              <label class="md-check">
                                <input type="radio" [value]="1" [(ngModel)]="env_report" [checked]="projectInfo?.env_report=='1'" name="env_report" formControlName="env_report">
                                Yes
                              </label>&nbsp;&nbsp;
                              <label class="md-check">
                                <input type="radio" [value]="0" [(ngModel)]="env_report"  [checked]="projectInfo?.env_report=='0'" name="env_report" formControlName="env_report">     
                                 No
                              </label>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_type" class="label-material">FDV DOCUMENTATION AVAILABLE :</label>
                            </div>
                            <div class="col-md-8" style="top: 15px;">
                              <label class="md-check">
                                <input type="radio" [value]="1" [(ngModel)]="fdv_document" [checked]="projectInfo?.fdv_document=='1'" name="fdv_document"  formControlName="fdv_document">
                                Yes
                              </label>&nbsp;&nbsp;
                              <label class="md-check">
                                <input type="radio" [value]="0" [(ngModel)]="fdv_document" [checked]="projectInfo?.fdv_document=='0'" name="fdv_document"  formControlName="fdv_document">     
                                 No
                              </label>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_type" class="label-material">ENVIRONMENTAL AMBITION :</label>
                            </div>
                            <div class="col-md-8" style= "  top: -10px;"   >
                              <input type="text" readonly formControlName="ambition" name="ambition" maxlength="200" class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_type" class="label-material">PROJECT START DATE :</label>
                            </div>
                            <div class="col-md-8" style=" left: -14px;">
                              <div class="input-group date fulldate col-md-5"  data-date="" data-date-format="yyyy.mm.dd" data-link-field="project_start_date" data-link-format="yyyy.mm.dd">
                                <input class="form-control" style="color: #000000;font-size: 18px; "  size="16" readonly type="text"  id="project_start_date" formControlName="project_start_date" name="project_start_date" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_catalog_date" class="label-material">PROJECT CATALOGUE DELIVERY DATE :</label>
                            </div>
                            <div class="col-md-8" style=" left: -14px;">
                              <div class="input-group date fulldate col-md-5"  data-date-format="yyyy.mm.dd" data-link-field="project_catalog_date" data-link-format="yyyy.mm.dd">
                                <input class="form-control" style="color: #000000; font-size: 18px;"  size="16" readonly type="text" id="project_catalog_date" formControlName="project_catalog_date" name="project_catalog_date" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_avail_date" class="label-material">PROJECT AVAILABILITY START DATE :</label>
                            </div>
                            <div class="col-md-8" style="   left: -14px;">
                              <div class="input-group date fulldate col-md-5"  data-date-format="yyyy.mm.dd" data-link-field="project_avail_date" data-link-format="yyyy.mm.dd">
                                <input class="form-control" style="color: #000000; font-size: 18px;"  readonly size="16" type="text" id="project_avail_date"  formControlName="project_avail_date" name="project_avail_date" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="project_avail_end_date" class="label-material">PROJECT AVAILABILITY END DATE :</label>
                            </div>
                            <div class="col-md-8" style="   left: -14px;">
                              <div class="input-group date fulldate col-md-5"  data-date-format="yyyy.mm.dd" data-link-field="project_avail_end_date" data-link-format="yyyy.mm.dd">
                                <input class="form-control" style="color: #000000; font-size: 18px;"   readonly size="16" type="text"  id="project_avail_end_date"   formControlName="project_avail_end_date" name="project_avail_end_date" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="note" class="label-material">NOTES :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="note" name="note"  class="input-material">
                            </div>
                          </div>
                          <h3>BILLING DETAILS</h3>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="billing_project_company" class="label-material margin-left">PROJECT COMPANY :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="billing_project_company" name="billing_project_company"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="billing_orgno" class="label-material margin-left">ORG NO. :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="billing_orgno" name="billing_orgno"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="billing_project_number" class="label-material margin-left">CUSTOMER PROJECT NUMBER :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="billing_project_number" name="billing_project_number"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="billing_customer_ref" class="label-material margin-left">CUSTOMER REFERENCE :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="billing_customer_ref" name="billing_customer_ref"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="billing_address" class="label-material margin-left">BILLING ADDRESS :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="billing_address" name="billing_address"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="billing_postal_code" class="label-material margin-left">BILLING POSTAL CODE :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="billing_postal_code" name="billing_postal_code"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="billing_postal_area" class="label-material margin-left">BILLING POSTAL AREA :</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" readonly formControlName="billing_postal_area" name="billing_postal_area"  class="input-material">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-4 p-3">
                              <label for="credit_period" class="label-material margin-left">CREDIT PERIOD:</label>
                            </div>
                            <div class="col-md-8 row">
                              <div class="col-md-6">
                                <select class="input-material"  formControlName="credit_period" disabled name="credit_period_select"  (change)="credit_period($event.target.value)">
                                  <option value="">Select</option>
                                  <option value="14" [selected]="projectInfo?.credit_period=='14'">14 Days</option> 
                                  <option value="30" [selected]="projectInfo?.credit_period=='30'">30 Days</option>
                                  <option value="45" [selected]="projectInfo?.credit_period=='45'">45 Days</option>
                                  <option value="1" [selected]="projectInfo?.credit_period >'45'">Others</option>
                                </select>
                              </div>
                              <div class="col-md-6" *ngIf="projectInfo?.credit_period >'45'">
                                <input type="text"   class="input-material"   formControlName="credit_period" id="credit_period" name="credit_period" readonly >
                              </div>
                            </div>
                          </div>
                          <div class="form-group row" *ngIf="projectInfo?.projectdocs.length > 0">
                            <div class="col-md-6 p-3">
                              <label for="billing_postal_area" class="label-material margin-left">Category - File Name  </label>
                            </div>
                          </div>
                          <div class="form-group row"  *ngFor="let doc of projectInfo?.projectdocs; index as i">
                            <div class="col-md-6 p-3" style="font-size: 12px;">
                              <label for="billing_postal_area" class="label-material margin-left"> {{doc?.project_category?.category_name}}&nbsp;&nbsp; 
                              <a href="{{'https://d38b2gpjikxyz1.cloudfront.net/uploads/projects/documents/'+doc?.file_name}}" target="_blank">{{doc?.file_name}}</a></label>&nbsp;&nbsp;&nbsp;
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  
                <hr>
              </div>
            </div>
          </div>
        </section>
        <!-- Page Footer-->
        <app-footer></app-footer>
      </div>
    </div>
  </div>
 