<div class="gooey align-items-center" *ngIf="loadingData">
    <span class="dot"></span>
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
    </div> 
</div>
<div class="page">

  <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <app-left-nav></app-left-nav>
      <div class="content-inner">
        <!-- Main Navbar-->
        <app-header></app-header>
        <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/profile">/ Pofile</a></li>
                  <li class="breadcrumb-item active">Change Password</li>
              </ul>
          </div>
          <section class="forms pb-5"> 
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                                  <div class="row d-flex align-items-center">
                                      <div class="col-sm-9">
                                          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                          <br/>
                                          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                                              <div class="form-group-material">
                                                  <input type="password" placeholder="Current Password" formControlName="current_password" [ngClass]="{ 'is-invalid': submitted && f.current_password.errors }" class="input-material">
                                                  
                                                  <div *ngIf="submitted && f.current_password.errors" class="invalid-feedback">
                                                      <div *ngIf="f.current_password.errors.required">Current Password is required</div>
                                                  </div>
                                              </div>
                                              <div class="form-group-material">
                                                  <input type="password" formControlName="password" placeholder="New Password"class="input-material" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                                 
                                                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                      <div *ngIf="f.password.errors.required">New Password is required</div>
                                                  </div>
                                              </div>
                                              <div class="form-group-material">
                                                <input type="password" formControlName="password_confirmation" placeholder="Confirm New Password" class="input-material" pattern="{{ f.password.value }}" [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }" />
                                                
                                                <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
                                                    <div *ngIf="f.password_confirmation.errors.required">Confirm New Password is required</div>
                                                    <div *ngIf="f.password_confirmation.errors.pattern">Password & Confirm Password does not match.</div>
                                                </div>
                                              </div>
                                              <div class="form-group-material">
                                                <input [disabled]="loading" type="submit" name="submit" value="Save Changes" class="btn btn-secondary">
                                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                              </div>
                                          </form>    
                                      </div>
                                  </div>
                      </div> 
                  </div>   
              </div>    
          </section>
<!-- Page Footer-->
<app-footer></app-footer>
</div>
</div>
</div>