<div class="gooey align-items-center" *ngIf="loadingData">
  <span class="dot"></span>
  <div class="dots">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div> 
<div class="page">
  <div class="page-content d-flex align-items-stretch">

    <app-left-nav></app-left-nav>
    <div class="content-inner">

      <app-header></app-header>
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb" style="    padding-top: 90px;">
          <li class="breadcrumb-item">
            <a routerLink="/products">/Product</a>
          </li>
          <li class="breadcrumb-item active" data-dismiss="modal">Add New</li>
        </ul>
      </div>
      <section class="forms pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-5" style="margin: auto">
                    <!-- <input type="file" name="photo" id="photo" formControlName="photo"> -->
                    <label for="imgupload"><img style="
                        width: 300px;
                        height: 300px;
                        margin-left: 16px;
                    " src="assets/images/default.jpg" class="img-fluid" *ngIf="imgURL == ''" /></label>
                    <span style="color: red" *ngIf="message">Something went wrong. Try Again</span>
                    <span style="color: red" *ngIf="message2">{{message2}}</span>
                    <input type="file" id="imgupload" accept="image/*" (change)="preview($event.target.files)"
                      style="display: none" />
                    <br />
                    <br />
                    <label for="imgupload"><img [src]="imgURL" height="200" *ngIf="imgURL" /></label>
                  </div>
                  <div class="col-sm-7">
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
                      Adding product failed
                    </div>
                    <br />
                    <div class="form-fbt">
                      <div class="form-group text-center">
                        <input type="submit" name="submit" (click)="registerfun()" value="Register"
                          class="btn btn-secondary" />
                      </div>
                      <div class="form-group text-center">
                        <input type="submit" name="submit" (click)="clonefun()" value="Register & Clone"
                          class="btn btn-secondary" />
                      </div>
                      <div class="form-group text-center">
                        <input type="submit" name="submit" (click)="addnewfun()" value="Register and add new"
                          class="btn btn-secondary" />
                      </div>
                      <div class="form-group text-center">
                        <!-- <label for='fileupload' class="btn btn-secondary">Add Files</label> -->
                        <label class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Add
                          Files</label>
                        <!-- <input type="file" id="fileupload" name="fileupload" (change)="addfiles($event.target.files)" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" multiple style="display:none" /> -->
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="product_name" class="label-material">PRODUCT TYPE* :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" formControlName="product_name" name="product_name" [ngClass]="{
                            'is-invalid': submitted && f.product_name.errors
                          }" maxlength="30" class="input-material" />
                        <div *ngIf="submitted && f.product_name.errors" class="invalid-feedback">
                          <div *ngIf="f.product_name.errors.required">
                            PRODUCT TYPE is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="project_id" class="label-material">PROJECT NAME* :</label>
                      </div>
                      <div class="col-md-8">
                        <select style="text-transform:capitalize;" class="input-material" name="project_id"
                          formControlName="project_id" class="input-material" [ngClass]="{
                            'is-invalid': submitted && f.project_id.errors
                          }">
                          <option value="">Select</option>
                          <option *ngFor="let project of projects; index as i" value="{{ project.id }}">
                            {{ project.project_name }}
                          </option>
                        </select>
                        <div *ngIf="submitted && f.project_id.errors" class="invalid-feedback">
                          <div *ngIf="f.project_id.errors.required">
                            Project NAME is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="description" class="label-material">DESCRIPTION * :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" formControlName="description" name="description" maxlength="300" [ngClass]="{
                            'is-invalid': submitted && f.description.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                          <div *ngIf="f.description.errors.required">
                            Description is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="category" class="label-material">CATEGORY* :</label>
                      </div>
                      <div class="col-md-8">
                        <select style="text-transform:capitalize;" class="input-material" formControlName="category"
                          name="category" id="category" [ngClass]="{
                            'is-invalid': submitted && f.category.errors
                          }" class="input-material">
                          <option selected value="0">Not selected</option>
                          <option *ngFor="let category of categories; index as i" value="{{ category.id }}">
                            {{ category.category_name }}
                          </option>
                        </select>
                        <!-- <input type="text" formControlName="category" name="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" class="input-material"> -->
                        <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                          <div *ngIf="f.category.errors.required">
                            Category is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="building_part" class="label-material">BUILDING PART :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text"  formControlName="building_part" maxlength="30" name="building_part"
                          [ngClass]="{
                            'is-invalid': submitted && f.building_part.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.building_part.errors" class="invalid-feedback">
                          <div *ngIf="f.building_part.errors.required">
                            Building Part is required
                          </div>
                        </div>
                      </div>
                    </div>
                   
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="quantity" class="label-material">QUANTITY :</label>
                      </div>
                      <div class="col-md-8 row">
                        <div class="col-md-3">
                          <input type="number"  formControlName="quantity" min="0" max="999999999" oninput="this.value = 
                              !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" name="unit"
                            [ngClass]="{
                              'is-invalid': submitted && f.quantity.errors
                            }" class="input-material" />
                          <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                            <div *ngIf="f.quantity.errors.max">
                              Quantity should be in range of 0 - 999999999
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3" >
                          <select class="input-material" name="unitqnt" formControlName="unitqnt" [ngClass]="{
                              'is-invalid': submitted && f.unitqnt.errors
                            }" class="input-material">
                            <option value="">Select Unit</option>
                            <option value="Piece">Piece</option>
                            <option value="Meters">Meters</option>
                            <option value="Square Meters">Square Meters</option>
                            <option value="Kilos">Kilos</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="dimensions" class="label-material">DIMENSIONS :</label>
                      </div>
                      <div class="col-md-8">
                        <div class="row">
                          <div class="col-md-3 p-3" style="
                            padding-top: 27px;
                            margin-top: 5px;
                        ">
                            <select style="margin-top: -220px;" class="input-material" name="unit"
                              formControlName="unit" [ngClass]="{
                                'is-invalid': submitted && f.unit.errors
                              }" class="input-material">
                              <option  value="">Select Unit</option>
                              <option value="m">m</option>
                              <option value="mm" selected>mm</option>
                            </select>
                          </div>

                          <div class="col-md-2">
                            <label style="font-size: 13px;
                            font-weight: 500;
                            font-style: normal;"> Length</label>
                            <input style="width: 90px;" type="number" formControlName="length" min="0" max="999999999"
                              oninput="this.value = 
                                !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" name="length"
                              [ngClass]="{
                                'is-invalid': submitted && f.length.errors
                              }" class="input-material" placeholder="" />
                            <div *ngIf="submitted && f.length.errors" class="invalid-feedback">
                              <div *ngIf="f.length.errors.max">
                                Length should be in range of 0 - 999999999
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <label style="font-size: 13px;
                            font-weight: 500;
                            font-style: normal;"> Height</label>
                            <input style="width: 90px;" type="number" formControlName="height" min="0" max="999999999"
                              oninput="this.value = 
                                !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" name="height"
                              [ngClass]="{
                                'is-invalid': submitted && f.height.errors
                              }" class="input-material" placeholder="" />
                            <div *ngIf="submitted && f.height.errors" class="invalid-feedback">
                              <div *ngIf="f.height.errors.max">
                                Height should be in range of 0 - 999999999
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <label style="font-size: 13px;
                            font-weight: 500;
                            font-style: normal;">Width</label>
                            <input style="width: 100px;" type="number" formControlName="width" min="0"
                              maxlength="999999999" oninput="this.value = 
                                !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" name="width"
                              [ngClass]="{
                                'is-invalid': submitted && f.width.errors
                              }" class="input-material" placeholder="" />
                            <div *ngIf="submitted && f.width.errors" class="invalid-feedback">
                              <div *ngIf="f.width.errors.max">
                                Width should be in range of 0 - 999999999
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="production_year" class="label-material">PRODUCTION YEAR :</label>
                      </div>
                      <div class="col-md-8 mt-2">
                        <div class="col-md-8" style="padding-right: -1px;">
                          <div style="margin-left: -26px;padding-right: 48px;  "
                            class="input-group date only_year col-md-5" data-date-format="yyyy"
                            data-link-field="building_year" data-link-format="yyyy">
                            <input class="form-control" style="color: #000000; font-size: 18px;"size="16" type="text" id="production_year"
                              formControlName="production_year" name="production_year" readonly /> &nbsp;&nbsp;
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                          </div>
                        </div>
                      </div>
                    </div>

                

                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="location_building" class="label-material">LOCATION IN BUILDING :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" formControlName="location_building" maxlength="50" name="location_building"
                          [ngClass]="{
                            'is-invalid':
                              submitted && f.location_building.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.location_building.errors" class="invalid-feedback">
                          <div *ngIf="f.location_building.errors.required">
                            Location In Building is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row" style="    padding-bottom: 11px;">
                      <div class="col-md-4 p-3">
                        <label for="brand_name" class="label-material">BRAND NAME :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" formControlName="brand_name" maxlength="50" name="brand_name" [ngClass]="{
                            'is-invalid': submitted && f.brand_name.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.brand_name.errors" class="invalid-feedback">
                          <div *ngIf="f.brand_name.errors.required">
                            Brand Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <!-- for="documentation" -->
                        <label class="label-material">DOCUMENTATION :</label>
                      </div>
                      <div class="col-md-8 mt-3">
                        <label class="md-check">
                          <input type="radio" [value]="1" />
                          <!-- [(ngModel)]="documentation"
                            name="documentation"
                            formControlName="documentation"-->
                          Yes
                        </label>&nbsp;&nbsp;
                        <label class="md-check">
                          <input type="radio" [value]="0" selected />
                          <!-- [(ngModel)]="documentation"
                            name="documentation"
                            formControlName="documentation"-->
                          No
                        </label>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="product_info" class="label-material">PRODUCT INFO :</label>
                      </div>
                      <div class="col-md-8 ">
                        <input type="text" formControlName="product_info" maxlength="60" name="product_info" [ngClass]="{
                            'is-invalid': submitted && f.product_info.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.product_info.errors" class="invalid-feedback">
                          <div *ngIf="f.product_info.errors.required">
                            Product Info is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="color" class="label-material">COLOR :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" formControlName="color" maxlength="30" name="color" [ngClass]="{
                            'is-invalid': submitted && f.color.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
                          <div *ngIf="f.color.errors.required">
                            COLOR is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="hazardous" class="label-material">HAZARDOUS CONTENT :</label>
                      </div>
                      <div class="col-md-8 mt-2">
                        <select name="hazardous" formControlName="hazardous" [ngClass]="{
                                'is-invalid': submitted && f.hazardous.errors
                              }" class="input-material">
                          <option value="">Select </option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                          <option value="Not Known">Not Known</option>
                        </select>
                        <div *ngIf="submitted && f.hazardous.errors" class="invalid-feedback">
                          <div *ngIf="f.hazardous.errors.required">
                            HAZARDOUS CONTENT is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="evaluvation" class="label-material">EVALUATION :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" formControlName="evaluvation" maxlength="60" name="evaluvation" [ngClass]="{
                            'is-invalid': submitted && f.evaluvation.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.evaluvation.errors" class="invalid-feedback">
                          <div *ngIf="f.evaluvation.errors.required">
                            EVALUATION is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="precondition" class="label-material">PRECONDITIONS FOR REUSE :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" formControlName="precondition" maxlength="45" name="evaluvation" [ngClass]="{
                            'is-invalid': submitted && f.evaluvation.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.evaluvation.errors" class="invalid-feedback">
                          <div *ngIf="f.evaluvation.errors.required">
                            EVALUATION is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="reuse" class="label-material">POTENTIAL FOR REUSE :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" formControlName="reuse" maxlength="50" name="reuse" [ngClass]="{
                            'is-invalid': submitted && f.reuse.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.reuse.errors" class="invalid-feedback">
                          <div *ngIf="f.reuse.errors.required">
                            POTENTIAL FOR REUSE is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="recommendation" class="label-material">RECOMMENDATION :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" formControlName="recommendation" maxlength="50" name="recommendation"
                          [ngClass]="{
                            'is-invalid': submitted && f.recommendation.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.recommendation.errors" class="invalid-feedback">
                          <div *ngIf="f.recommendation.errors.required">
                            RECOMMENDATION is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="price_new_product" class="label-material">PRICE - NEW PRODUCT :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="number" formControlName="price_new_product" min="0" max="99999999" oninput="this.value = 
                            !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                          name="price_new_product" [ngClass]="{
                            'is-invalid':
                              submitted && f.price_new_product.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.price_new_product.errors" class="invalid-feedback">
                          <div *ngIf="f.price_new_product.errors.max">
                            Price - NEW Product should be in range of 0 -
                            999999999
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="status" class="label-material">STATUS :</label>
                      </div>
                      <div class="col-md-8 mt-2">
                        <select class="input-material" name="status" formControlName="status" [ngClass]="{
                            'is-invalid': submitted && f.status.errors
                          }" class="input-material">
                          <option value="">Select</option>
                          <option value="1">AVAILABLE ONSITE</option>
                          <option value="2">AVAILABLE FROM STORAGE</option>
                          <option value="3">SOLD</option>
                          <option value="4">UNAVAILABLE</option>
                        </select>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                          <div *ngIf="f.status.errors.required">
                            Status is required
                          </div>
                        </div>
                        <!-- <label class="md-check">
                              <input type="radio" [value]="1" [(ngModel)]="status" name="status" formControlName="status" selected>
                              Active
                            </label>&nbsp;&nbsp;
                            <label class="md-check">
                              <input type="radio" [value]="0" [(ngModel)]="status" name="status" formControlName="status">     
                              Inactive
                            </label> -->
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="price_used_product" class="label-material">PRICE - USED PRODUCT :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="number" formControlName="price_used_product" min="0" maxlength="9" oninput="this.value = 
                            !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                          name="price_used_product" [ngClass]="{
                            'is-invalid':
                              submitted && f.price_used_product.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.price_used_product.errors" class="invalid-feedback">
                          <div *ngIf="f.price_used_product.errors.max">
                            Price - Used Product should be in range of 0 -
                            999999999
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4 p-3">
                        <label for="price_sold_product" class="label-material">PRICE - SOLD PRODUCT :</label>
                      </div>
                      <div class="col-md-8">
                        <input type="number" formControlName="price_sold_product" min="0" maxlength="9" oninput="this.value = 
                            !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                          name="price_sold_product" [ngClass]="{
                            'is-invalid':
                              submitted && f.price_sold_product.errors
                          }" class="input-material" />
                        <div *ngIf="submitted && f.price_sold_product.errors" class="invalid-feedback">
                          <div *ngIf="f.price_sold_product.errors.max">
                            Price - Sold Product should be in range of 0 -
                            999999999
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="filesmulti.length > 0">
                      <div class="col-md-6 p-3">
                        <label
                          for="billing_postal_area"
                          class="label-material margin-left"
                          >Category - File Name</label>
                      </div>
                    </div>
                    <div class="form-group row" *ngFor="let file of filesmulti; index as i">
                      <div class="col-md-11 p-3" style="font-size: 12px">
                        <label
                          for="billing_postal_area"
                           class="label-material margin-left"
                        >{{filecattext[i] }}
                        &nbsp;&nbsp;&nbsp;&nbsp;</label
                        >&nbsp;&nbsp;&nbsp;  
                       <label  class="label-material margin-left"> {{ file.name }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <app-footer></app-footer>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Files</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-3">
            <select style = "text-transform:capitalize; width: 80%;
            border: none;
            border-bottom: 0.5px solid #727272;
            padding: 7px 4px;
            background: #F5F5F5;
            color: black;"  class="form-control" name="categories" id="categories">
              <option value="">Select</option>
              <option  value="PRE (Produktdatablad)​">PRE (Produktdatablad)​</option>
              <option  value="FDV (Forvaltning, drift og vedlikeholds dokumentasjon)​">FDV (Forvaltning, drift og vedlikeholds dokumentasjon)​</option>
              <option  value="HMF (Helse, miljø og sikkerhet faktablad)​​">HMF (Helse, miljø og sikkerhet faktablad)​​</option>
              <option  value="YTE (Ytelseserklæring)​​">YTE (Ytelseserklæring)​​</option>
              <option  value="MAN (Monteringsanvisning)​​">MAN (Monteringsanvisning)​</option>
              <option  value="SER (Sertifikat)​">SER (Sertifikat)​</option>
              <option  value="TEKG (Teknisk godkjenning)​​">TEKG (Teknisk godkjenning)​</option>
              <option  value="BRO (Brosjyre)​">BRO (Brosjyre)​</option>
              <option  value="EPD (Environmental Product Declaration)​">EPD (Environmental Product Declaration)​</option>
              <option  value="Other">Other​</option>
            </select>
          </div>
          <div class="col-md-9 row">
            <div class="col-md-7">
              <input style="
                padding: 5px;" type="file" id="fileupload" name="fileupload"
                accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" />
            </div>
            <div class="col-md-2">
              <input style="
                padding: 5px;" type="button" name="add_files" id="add_files" value="Add Files"
                (click)="addcategory()" />
            </div>
          </div>
        </div>
        <div class="form-group" *ngFor="let file of filesmulti; index as i">
          {{ filecattext[i] }} &nbsp;&nbsp;&nbsp;&nbsp;{{ file.name }}
          <span style="float: right"><a href="javascript:void(0);" (click)="delete_add(i)">Delete</a></span>
          <div class="progress">
            <div class="progress-bar" style="width:1000px;background-color: #8f979f;" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>