<div class="page">

  <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <app-left-nav></app-left-nav>
    <div class="content-inner">

      <!-- Main Navbar-->
      <app-header></app-header>
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/customers">Customer</a></li>
          <li class="breadcrumb-item active">{{customerDetails?.customer_id}}</li>
        </ul>
      </div>
      <section class="forms pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                  <div class="row">
                    <div class="col-sm-5" style="margin:auto;">
                      <img src="{{editimgUrl}}" class="img-fluid" />
                      <label for='imgupload'><img src="assets/images/default.jpg" class="img-fluid" *ngIf="!editimgUrl"></label>
                      <br/>
                      <br/>
                      <b>{{customerDetails?.customer_id}}</b>
                    </div>
                    <div class="col-sm-7">
                      <br />
                      <div class="form-group row">
                        <div class="col-md-4 p-3">
                          <label for="registerUsername" class="label-material">CLIENT NAME* :</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="input-material" readonly value="{{currentUser?.client_name}}"/>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-4 p-3">
                          <label for="registerUsername" class="label-material">CUSTOMER NAME* :</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="input-material" readonly value="{{customerDetails?.customer_name}}"/>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-4 p-3">
                          <label for="orgname" class="label-material">ORG. NO.* :</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="input-material" readonly value="{{customerDetails?.org_number}}"/>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-4 p-3">
                          <label for="address" class="label-material">ADDRESS:</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="input-material" readonly value="{{customerDetails?.address}}"/>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-4 p-3">
                          <label for="postal_area" class="label-material">COUNTRY :</label>
                        </div>
                        <div class="col-md-8">
                          <select class="input-material" name="country">
                            <!-- [ngClass]="{ 'is-invalid': submitted && f.country.errors }"-->
                            <option value="">Select</option>
                            <option value="1" [selected]="customerDetails?.country == '1'">India</option>
                            <option value="2" [selected]="customerDetails?.country == '2'">Norway</option>
                            <option value="3" [selected]="customerDetails?.country == '3'">France</option>
                            <option value="4" [selected]="customerDetails?.country == '4'">Italy</option>
                            <option value="5" [selected]="customerDetails?.country == '5'">UK</option>
                            <option value="6" [selected]="customerDetails?.country == '6'">Sweden</option>
                            <option value="7" [selected]="customerDetails?.country == '7'">Germany</option>
                            <option value="8" [selected]="customerDetails?.country == '8'">Poland</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-4 p-3">
                          <label for="postal_code" class="label-material">POSTAL CODE :</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="input-material" readonly value="{{customerDetails?.postal_code}}"/>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-4 p-3">
                          <label for="postal_area" class="label-material">POSTAL AREA :</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="input-material" readonly value="{{customerDetails?.postal_area}}"/>
                        </div>
                      </div>
                      <h4>CONTACT PERSON DETAILS</h4>
                      <div class="form-group row">
                        <div class="col-md-4 p-3">
                          <label for="name" class="label-material">NAME :</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="input-material" readonly value="{{customerDetails?.name}}"/>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-4 p-3">
                          <label for="mobile" class="label-material">MOBILE NO. :</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="input-material" readonly value="{{customerDetails?.mobile_number}}" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-4 p-3">
                          <label for="email" class="label-material">EMAIL ID :</label>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="input-material" readonly value="{{customerDetails?.email}}" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-4 p-3">
                       
                        </div>
                        <div class="col-md-8">
                          <div class="form-group text-center">
                            <a routerLink="/edit-customer/{{customerDetails?.id}}" style =" width: 139.82px;" class="mr-1 btn btn-default">Edit</a>
                          </div>
                          <div class="form-group text-center">
                            <a routerLink="/add-project" [queryParams]="{param_id: customerDetails?.id}" class="btn btn-secondary">Register Project</a>
                          </div>
                        </div>
                      </div>



                   
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <div class="col-md-5 p-3">
                          <label for="note" class="label-material">NOTES :</label>
                        </div>
                        <div class="col-md-7">
                          <textarea class="form-control" rows="7" readonly>{{customerDetails?.note}}</textarea>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <app-footer></app-footer>
    </div>
  </div>
</div>