<div class="gooey align-items-center" *ngIf="loadingData">
  <span class="dot"></span>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
  </div> 
</div>
<div class="page">
  <!-- Main Navbar-->
  <app-header></app-header>
  <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <app-left-nav></app-left-nav>
      <div class="content-inner">
      <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
              <ul class="breadcrumb">
                  <li class="breadcrumb-item">Project Categories</li>
              </ul>
          </div>
      <!-- Forms Section-->
      <section class="forms pb-5">
          <div class="container-fluid">
              <div class="row">
                <!-- <div class="col-md-12 main">
                  <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text"  name="search" class="form-control" placeholder="Search" (keyup.enter)="search($event.target.value)">
                  </div>
                </div> -->
                <div class="col-md-12 main" *ngIf="!customerInfo">
                  <div class="form-group has-search">
                   <span style="float: right;">
                    <a href="javascript:void();"  data-toggle="modal" data-target="#exampleModal" class="mr-1 btn btn-sm btn-secondary">Add Project Category</a>
                  </span>
                  <br/>
                  </div>
                </div>
                <div class="col-md-12" *ngIf="categories && addcategory == false">
                    
                        <table class="table table-hover">
                        <thead>
                            <tr>
                            <th>#</th>
                            <th>Project Category Name</th>
                            <th>Status</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categories; index as i">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{category.category_name}}</td>
                                <td>{{ (category.status==1) ? 'Active' : 'Inactive' }}</td>
                                <td>
                                  <a href="javascript:void(0);" (click)="editCategory(category)" class="mr-1 btn btn-sm btn-secondary">Edit</a>
                                </td>
                            </tr>
                            <tr *ngIf="categories?.length == 0">
                              <td class="text-center" colspan="8">No Project Categories Found</td>
                            </tr>
                        </tbody>
                        </table>
                    
                </div>
              </div>
          </div>
      </section>
      <!-- Page Footer-->
      <app-footer></app-footer>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="background: #727272;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Project Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-9">
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
              <form [formGroup]="projectCategory" (ngSubmit)="onSubmit()">
                <div class="form-group-material">
                    <input type="text" formControlName="category_name" name="category_name"  class="input-material" [ngClass]="{ 'is-invalid': submitted && f.category_name.errors }">
                    <label for="Name" class="label-material">Category Name</label>
                    <div *ngIf="submitted && f.category_name.errors" class="invalid-feedback">
                      <div *ngIf="f.category_name.errors.required">Category Name is required</div>
                    </div>
                </div>
                <div class="form-group row" style="margin-left: 15px;">
                  <label class="md-check">
                    <input type="radio" [value]="1" [(ngModel)]="status" name="status" formControlName="status" selected>
                    Active
                  </label>&nbsp;&nbsp;
                  <label class="md-check">
                    <input type="radio" [value]="0" [(ngModel)]="status" name="status" formControlName="status">     
                    Inactive
                  </label>
                </div>
                <div class="form-group-material">
                  <input [disabled]="loading" type="submit" name="submit" value="Add" class="btn btn-secondary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="editProjectModal" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleeditModalLabel">Edit Project Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-9">
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div><br/>
              <form [formGroup]="projectEditCategory" (ngSubmit)="onUpdate()">
                <div class="form-group-material">
                    <input type="hidden" formControlName="category_id" name="category_id" id="category_id"  class="input-material">
                    <input type="text" formControlName="category_name" name="category_name" id="category_name" class="input-material" [ngClass]="{ 'is-invalid': submittededit && g.category_name.errors }">
                    <label for="Name" class="label-material active">Category Name</label>
                    <div *ngIf="submittededit && g.category_name.errors" class="invalid-feedback">
                      <div *ngIf="g.category_name.errors.required">Category Name is required</div>
                    </div>
                </div>
                <div class="form-group row" style="margin-left: 15px;">
                  <label class="md-check">
                    <input type="radio" [value]="1" [(ngModel)]="status" name="status" formControlName="status" selected>
                    Active
                  </label>&nbsp;&nbsp;
                  <label class="md-check">
                    <input type="radio" [value]="0" [(ngModel)]="status" name="status" formControlName="status">     
                    Inactive
                  </label>
                </div>
                <div class="form-group-material">
                  <input [disabled]="loading" type="submit" name="submit" value="Update" class="btn btn-secondary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
