
 * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul{list-style:none;
  }
   
   
  p{
  font-family: 'Josefin Sans', sans-serif;
      font-style: normal;
         letter-spacing: 0.1px;
      text-rendering: optimizeLegibility;
      font-size: 14px;
      letter-spacing: 0.3px;
      line-height: 25px;
      color: #555555;
      font-weight:400;
  }
  
  body{font-family: 'Josefin Sans', sans-serif; background-color:#f2eee3}
  a, a:active, a:focus{text-decoration:none;outline:none;}
  a:hover{text-decoration:none;}
  button:focus{outline:none;}
  textarea:focus, input:focus{outline:none;}
  h1, h2, h3, h4, h5, h6{font-family: 'Josefin Sans', sans-serif; color: #333 }
  ul{ margin:0px; padding:0px; list-style:none;}
  
  /*header css start*/
  
  header{width:100%; float:left; padding:40px 0px}
  .container{    max-width: 900px;    padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;}
  .col-6{width:50%; float:left;}
  header h1{     font-weight: 500;
      font-size: 23px;
      letter-spacing: 1px;}
      header p{    padding-top: 20px;font-size: 17px;}
  header img{float:right}
  .home-section{width:100%; float:left}
  .left-home-section img{}
  
  .home-section{width:100%; float:left; padding:30px 0px}
  .left-home-section{width:19%; float:left; height:900px; }
  .right-home-section{width:81%; float:left;overflow: hidden;height:900px;}
  .right-home-section img{width:100%; float:left;  }
  .home-section ul{   }
  .home-section ul li{height:33.33%;font-size: 13px;     padding: 70px 0px 0px 0px;}
  .home-section ul li:nth-of-type(1){text-align: right;}
  .home-section ul li:nth-of-type(2){text-align: center;}
  .home-section ul li:nth-of-type(3){text-align: left;}
  .home-section ul li  { /* Safari */
    -webkit-transform: rotate(-90deg);
  
    /* Firefox */
    -moz-transform: rotate(-90deg);
  
    /* IE */
    -ms-transform: rotate(-90deg);
  
    /* Opera */
    -o-transform: rotate(-90deg);}
  
  .listing-section{width:100%; float:left; padding:80px 0px }
  .listing-section h3{    border-bottom: 2px solid #c5c5c5;padding-bottom: 6px; letter-spacing: 1px; font-weight: 600;}
  .listing-section h3 img{float:right;width:120px;    margin-top: -9px;}
  .col-12{width:100%; float:left;    border-bottom: 2px solid #c5c5c5;}
  .one{width:30%; float:left; padding:15px 0px}
  .two{width:70%; float:left;padding:15px 0px 15px 20px}
  .one img{width:100%;    border-radius: 25px;}
  
  .listing-ul{width:100%; float:left}
  .listing-ul li{width:100%; float:left;padding: 6px 0px;}
  .listing-ul li div:nth-of-type(1){width:25%; float:left}
  .listing-ul li div:nth-of-type(2){width:50%; float:left}
  .listing-ul li div:nth-of-type(3){width:25%; float:left}
  .listing-ul li h5{    font-size: 12px;
      border-bottom: 1px solid #a0a0a0;
      padding-bottom: 7px;
      margin-bottom: 10px;}
  .listing-ul li h6{font-size: 12px;    padding: 5px 0px;
      font-weight: 600;}
  .listing-ul li span{    font-size: 13px;
      font-weight: 400;
      color: #5d5b5b;}

      @media print {
        #printPageButton {
          display: none;
        }
      }