<div class="gooey align-items-center" *ngIf="loadingData">
  <span class="dot"></span>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
  </div> 
</div>
<div class="page login-page" style="background-size: cover;
background-position: center;
background-repeat: no-repeat;background-image: linear-gradient(to right top, #524f4f, #555252, #595454, #5c5757, #605a5a);">
  <div class="container d-flex align-items-center">
    <div class=" form-holder">
      <div class="row d-flex justify-content-center">
        
        <!-- Form Panel    -->
        <div class="col-lg-5">
          <div class="form d-flex align-items-center">
            <div class="content  d-flex justify-content-center">
              <form method="post" [formGroup]="forgetForm" class="form-validate" (ngSubmit)="onSubmit()">
      <p class="text-white" style="color: #ffffff!important;">Forget your password? Please enter your user id or email address. You will recieve a link to create a new password via email.</p><br>
                <div class="form-group">
                  <label style="font-size: 14px;
                  font-weight: 400;
                  font-style: normal;
                  color: white;">User Name</label>
                  <input type="text" formControlName="registerUsername" placeholder="" name="registerUsername"  [ngClass]="{ 'is-invalid': submitted && f.registerUsername.errors }"  class="input-material-login">
                 
                  <div *ngIf="submitted && f.registerUsername.errors" class="invalid-feedback">
                    <div *ngIf="f.registerUsername.errors.required">Email is required</div>
                  </div>
                </div>
                <input type="submit" class="btn btn-login btn-fluid" value="Reset Password">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights text-center">
    <p class="small">CopyRights - <a href="#" class="external">Digits AS</a>, Norway <br> Org. number 925 386 022</p>
  </div>
</div>