<div class="gooey align-items-center" *ngIf="loadingData">
    <span class="dot"></span>
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
    </div> 
</div>
<div class="page">
    <!-- Main Navbar-->
    <app-header></app-header>
    <div class="page-content d-flex align-items-stretch">
      <!-- Side Navbar -->
      <app-left-nav></app-left-nav>
        <div class="content-inner">
        <!-- Breadcrumb-->
            <div class="breadcrumb-holder container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/users">Users</a></li>
                    <li class="breadcrumb-item active">Add User</li>
                </ul>
            </div>
            <section class="forms"> 
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-sm-9">
                                            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                                                <div class="form-group-material">
                                                    <input type="text" formControlName="fullname" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" class="input-material">
                                                    <!-- <label for="Name" class="label-material">Name</label> -->
                                                    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                                                        <div *ngIf="f.fullname.errors.required">Name is required</div>
                                                    </div>
                                                </div>
                                                <div class="form-group-material">
                                                    <input type="text" formControlName="email" placeholder="User ID (Email Address)"  class="input-material" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                                    <!-- <label for="email" class="label-material">User ID (Email Address)</label> -->
                                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                                    </div>
                                                </div>
                                                <div class="form-group-material"> 
                                                    <input type="password" formControlName="password" placeholder="Password" class="input-material" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                                    <!-- <label for="password" class="label-material">Password</label> -->
                                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                                        <div *ngIf="f.password.errors.pattern">Please enter minimum 8 length password containg least one uppercase, least one lowercase only, least one digit and least one special character</div>
                                                    </div>
                                                </div>
                                                <div class="form-group-material">
                                                    <input type="password" formControlName="confirm_password" placeholder="Confirm Password" class="input-material" pattern="{{ f.password.value }}" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                                                    <!-- <label for="confirm_password" class="label-material">Confirm Password</label> -->
                                                    <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                                        <div *ngIf="f.confirm_password.errors.required">Password is required</div>
                                                        <div *ngIf="f.confirm_password.errors.pattern">Password & Confirm Password does not match.</div>
                                                    </div>
                                                </div>
                                                <div class="form-group-material">
                                                    <select class="input-material" name="client" formControlName="client" [ngClass]="{ 'is-invalid': submitted && f.client.errors }">
                                                        <option value="">Select</option>
                                                        <option *ngFor="let client of clients; index as i" value="{{client.id}}">{{client.name}}</option>   
                                                    </select>
                                                    <div *ngIf="submitted && f.client.errors" class="invalid-feedback">
                                                        <div *ngIf="f.client.errors.required">client is required</div>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group-material">
                                                    <select class="form-control" name="language" formControlName="language" [ngClass]="{ 'is-invalid': submitted && f.language.errors }">
                                                        <option value="">Select</option>
                                                        <option value="english">English</option>
                                                        <option value="hindi">Hindi</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.language.errors" class="invalid-feedback">
                                                        <div *ngIf="f.language.errors.required">client is required</div>
                                                    </div> 
                                                </div>		 -->
                                                <div class="form-group-material">
                                                    <input [disabled]="loading" type="submit" name="submit" value="Add" class="btn btn-secondary">
                                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                                </div>
                                            </form>    
                                        </div>
                                    </div>
                        </div> 
                    </div>   
                </div>    
            </section>
  <!-- Page Footer-->
  <app-footer></app-footer>
</div>
</div>
</div>